<div #textCont class="text-container"
                 [ngStyle]="{'justify-content' : !banner.Icon.UseIcon ? 'center' : 'unset'}">
                <label class="first-title ellipsis" 
                      [ngClass]="[(banner.FirstTitle.Style == 'heading' ? 'title-' : 'body-') + banner.FirstTitle.Size,
                                  banner.ClickedArea == 'first-title' ? 'underline-text' : '']">
                     {{banner.FirstTitle.Label || ''}}
                </label>
                <label class="second-title ellipsis" 
                      *ngIf="banner?.SecondTitle?.Use" 
                      [ngClass]="[(banner.SecondTitle.Style == 'heading' ? 'title-' : 'body-') + banner.SecondTitle.Size,
                                   banner.ClickedArea == 'second-title' ? 'underline-text' : '']">
                      {{banner.SecondTitle.Label || ''}}
               </label>
            </div>
            <div class="icon-container" *ngIf="banner.Icon.UseIcon"
                 [ngStyle]="{'margin-right' : banner.Icon.Position == 'start' ? '.75rem' : 'unset'}">
                 <img *ngIf="banner.Icon?.Url" [src]="banner.Icon?.Url || null" [ngStyle]="{'height.px': getTextContHeight() }"/>
            </div>  