<div #textCont class="text-container"
                 [ngStyle]="{'text-align' : !banner.Icon.UseIcon ? 'center' : 'unset'}">
                <span class="first-title" 
                      [ngClass]="[(banner.FirstTitle.Style == 'heading' ? 'title-' : 'body-') + banner.FirstTitle.Size,
                                  banner.ClickedArea == 'first-title' ? 'underline-text' : '']"
                      (click)="onTextClick($event)">
                     {{banner.FirstTitle.Label || ''}}
                </span>
                <span class="second-title" 
                      *ngIf="banner?.SecondTitle?.Use" 
                      [ngClass]="[(banner.SecondTitle.Style == 'heading' ? 'title-' : 'body-') + banner.SecondTitle.Size,
                                   banner.ClickedArea == 'second-title' ? 'underline-text' : '']"
                      (click)="onTextClick($event)">
                      {{banner.SecondTitle.Label || ''}}
                </span>
            </div>
            <div class="icon-container" *ngIf="banner.Icon.UseIcon"
                 [ngStyle]="{'margin-right' : banner.Icon.Position == 'start' ? '.75rem' : 'unset'}">
                 <img [src]="banner.Icon?.Url || ''" [ngStyle]="{'height.px': getTextContHeight() }"/>
            </div>  